<block-ui></block-ui>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/cargos" class="btn btn-info">Cargos</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/perfis" class="btn btn-info">Perfis</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/usuarios" class="btn btn-info">Usuários</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
